@import "../../global.scss";

.ImageSection{
    flex:0.5;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    // .img{
    // width: 100%;
    // height: 50vh;
    // img{
    // width: 100%;
    // object-fit: cover;
    // height: 100%;
    // }
    // }
    
  @include mobile {
    flex-direction: column;
    margin: 1rem;
  }
    .about-info{
    margin-left: 2rem;
    // h4{
    // font-size: 2rem;
    // }
    
  @include mobile {
    margin-left: 0;
    margin-top: 1rem;
  }
    .about-text{
    // padding: .5rem 0rem;
    // float: left;
    // width: 80%;
    text-align: justify;
    font-size: 16px;
    padding-bottom: 20px !important;
    padding-left: 0px !important;
    line-height: 1.5 !important;

    @include mobile {
      padding-left: 15px !important;
    }
}
    
    // p{
    // padding-bottom: 10px !important;
    // }
    }
    }
    // @media screen and (max-width: 1400px){
    // flex-direction: column;
    // .about-info{
    // margin-left: 0;
    // margin-top: 1rem;
    // }
    // }
    
    .about-details{
        display: flex;
        line-height: 20px !important;
    p{
        padding: .4rem 0;
    }
    .right-section{
        margin-left: 2.3rem;

        @include mobile {
            margin-left: 2.0rem;
        }
        
    }
    }
    
    .btn{
        padding: 1rem 2rem;
        background-color: #037FFF;
        outline: none;
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 2px;
        margin-top: 1rem;
        position: relative;
        &::after{
        position: absolute;
        content: "";
        width: 0;
        height: .3rem;
        left: 0;
        bottom: 0;
        background-color: #a4acc4;
        transition: all 0.4s ease-in-out;
    }
    &:hover::after{
        width: 100%;
    }
    }
    
    
    
