@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 0.8;
    overflow: hidden;
    padding: 140px 80px 80px 80px;
    align-items: center;

    @include mobile{
      padding: 15px 80px 80px 30px;

  }

    .itemContainer{
      display: flex;
      align-items: center;
      margin-left: 30px;
      padding: 20px 0;

      .icon{
          font-style: 18px;
          margin-right: 15px;
          color:rgba(29, 144, 182, 0.753);
          @include mobile {
            font-style: 14px;
          }
         
      }

      span{
          font-size: 18px;
          font-weight: 400;
          color: black;

          @include mobile {
            font-size: 14px;
          }

          a{
            font-size: 18px;
            color: black;
            text-decoration: none;

            @include mobile {
              font-size: 14px;
            }
          }
      }
    }

    img {
      height: 70%;
      width:100%;
      object-fit: cover;
    }
  }
  .right {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
      letter-spacing: 0.6pc;

      @include mobile {
        margin-top: 50px !important;
        font-size: 20px;
        padding-bottom: 10px;
        flex-direction: column;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        border-radius: 20px;

        border: 1px solid rgba(128, 128, 128, 0.671);
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;

        padding: 10px;
        box-shadow: 5px 10px 20px rgba(193, 228, 233, 0.808) inset;
      

        @include mobile {
          width: 200px;
          height: 20px;
          margin-bottom: 10px !important;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        border-radius: 20px;
        border: 1px solid rgba(128, 128, 128, 0.671);
        padding: 10px;
        box-shadow: 5px 10px 8px #888888;

        padding: 10px;
        box-shadow: 5px 10px 20px  rgba(193, 228, 233, 0.808) inset;
      

        @include mobile {
          width: 200px;
          height: 100px;
          margin-bottom: 10px !important;
        }
      }

      button {
        width: 150px;
        height: 40px;
        color: rgb(15, 15, 15);
        background-color: #2dc0c7b0;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        border: 1px solid rgba(128, 128, 128, 0.562);
        padding: 10px;
        box-shadow: 5px 5px 8px rgb(231, 231, 240), 10px 10px 8px rgba(158, 155, 155, 0.39), 15px 15px 8px rgba(133, 233, 233, 0.452);
       
        
      
        &:focus {
          outline: none;
        }
      }

      span {
        color: #2dc0c7b0;
        
      }
    }
  }
}